{% extends 'base.html' %}
{% load static %}
{% block title %}My Page{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block content %}
<center>
    {% if user.is_authenticated %}
       
        {% for img in images %}
        <div class='post'>
            <!-- photo -->
            <div><img id="photo" src="{{ img.image.url }}" alt="image"></div>
            <div class='likedelete'>
                <div id='likes'>{{ img.num_likes }} likes</div>
                <div id='delete'><a href="{% url 'delete' img.pk %}">delete</a></div>
            </div>
            <div class='captioncorner'>
                <div id='user'>{{ img.user }}</div>
                <div id='caption'>{{ img.caption }}</div>
            </div>
            <!-- comment -->
            {% for comment in img.comments.all %}
                <div class='captioncorner'>
                    <div id='user'>{{ comment.user}}</div>
                    <div id='caption'>{{ comment.text }}</div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if images.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ images.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ images.number }} of {{ images.paginator.num_pages }}
                </span>
        
                {% if images.has_next %}
                    <a href="?page={{ images.next_page_number }}">next</a>
                    <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
                </span>
        </div>
    {% else %}
        {% for img in images %}
        <img src="{{ img.image.url }}" alt="image">
        <p>{{ img.caption }}</p>
        {% endfor %}
        <div class="pagination">
                <span class="step-links">
                    {% if images.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ images.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ images.number }} of {{ images.paginator.num_pages }}.
                    </span>
            
                    {% if images.has_next %}
                        <a href="?page={{ images.next_page_number }}">next</a>
                        <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
    {% endif %}
</center>
{% endblock %}
